/*------------------------------------*\
    POSTS.SCSS
\*------------------------------------*/

.posts {
  margin-bottom: $base-spacing-unit;
}

// List
// -------------------------

.posts--list {
  @extend .block-list;
}

.posts--link {
  @extend .block-list__link;

  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
    background: $brand-primary-light;
  }
}

.posts--title {
  @extend .gamma;
}

a .posts--title, a .posts--date {
  font-weight: 400;
}

.posts--date {
  color: $gray-light;
}
